<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <title>THelper Report</title>
</head>

<body>
    <div class="container">
        <h4>Report for: {{ today }}</h4>
        <b>List Summary</b>
        <table class="table table-striped">
            <tr>
                <th scope="col">List Name</th>
                <th scope="col">Card Count</th>
            </tr>
            {% for item in context.list_summary %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
            </tr>
            {% endfor %}
        </table>
        <b>Label Summary</b>
        <table class="table table-striped">
            <tr>
                <th scope="col">Label Name</th>
                <th scope="col">Card Count</th>
            </tr>
            {% for item in context.label_counts %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
            </tr>
            {% endfor %}
        </table>
        <b>Members Summary</b>
        <table class="table table-striped">
            <tr>
                <th scope="col">Member Name</th>
                <th scope="col">Card Count</th>
            </tr>
            {% for item in context.members_card_counts %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>